name: 'Update Changelog'

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  update:
    name: Update Changelog
    if: github.event.pull_request.merged == true
    runs-on: [self-hosted, ubuntu22]

    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: 'Fix permissions'
        run: sudo -S chown -R $USER:$USER $GITHUB_WORKSPACE

      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.NPM_TOKEN }}

      - name: 'Show package.json version'
        run: head ./package.json

      - name: 'Bump version and create changelog'
        uses: TriPSs/conventional-changelog-action@v3
        with:
          github-token: ${{ secrets.NPM_TOKEN }}
          release-count: 50
          skip-on-empty: false

      - name: 'Show package.json version'
        run: head ./package.json